*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
}
/********Header and Nav******/
.container{
    max-width: 1110px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}
.header-logo{
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #22262A;
}
.header-menu,
.header-menu-list{
    display: flex;
    align-items: center;
}
.header-menu-item{
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    margin-right: 25px;
}
.fal{
    font-size: 18px;
    line-height: 18px;
    color: #22262A;
}
.fa-heart{
    margin-right: 40px;
    margin-left: 40px;
}

/********Section Hero******/

#hero{
    min-height: 745px;
    position: relative;
    background: url("../images/hero/hero_bg.png") no-repeat center/cover;
}

.hero_content{
    display: flex;
    flex-direction: column;
    position: absolute;
    content: "";
    right: 350px;
    bottom: 200px;
}

.hero_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}

.hero_desc{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}

.hero_btn{
    display: flex;
}

.hero_btn_link{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #22262A;
    padding: 5px 30px;
    margin-right: 30px;
    margin-top: 30px;
}

/********Section Category******/

#category{
    padding-top: 120px;
}

.row{
    width: 100%;
    display: flex;
}

.col-6{
    width: 50%;
    padding: 0 15px;
}

.category_img_man{
    width: 100%;
}

.female-img{
    display: flex;
    margin: 20px -12px 0 -12px;
}

.female-img_col-6{
    width: 100%;
    padding: 0 12px;
}

.category_img_woman{
    width: 100%;
}

.category-name_box{
    background: #00000060 url("../images/category/4.png");
    min-height: 556px;
    position: relative;
    top: -1px;
    background-blend-mode: darken;
}

.category-link{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    background-color: #ffffff;
    position: absolute;
    bottom: 25px;
    left: 30px;
    padding: 5px 25px;
}

/********Section Womens and Mens******/

#womens, #mens{
    padding-top: 115px;
}

#womens .container{
    display: flex;
    flex-direction: column;
}

#mens .container{
    display: flex;
    flex-direction: column;
}

.womens-title,
.avone-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
    text-align: center;
}

.womens-desc,
.avone-desc{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

#womens .row{
    margin-top: 65px;
}

#mens .row{
    margin-top: 65px;
}

.col-3{
    width: 25%;
}

.womens-catalog-img{
    width: 100%;
    padding: 0 10px;
}

.womens-product-desc{
    margin-top: 40px;
    margin-left: 10px;
}

.product-item_desc{
    display: block;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.product-item_title{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.product-pricing{
    width: 145px;
    display: flex;
    justify-content: space-between;

}

.old-price{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    text-decoration: line-through;
}

.new-price{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FF0000FF;
}

/********Avone******/

#avone{
    padding-top: 110px;
}

#avone .container{
    display: flex;
    flex-direction: column;
    padding-bottom: 115px;
}

#avone .row{
    margin-top: 65px;
}

.col-8-img-13{
    padding-top: 80px;
}

.col-4-img-14{
    padding-left: 30px;
}

.image-15{
    position: relative;
}
.img-15{
    position: absolute;
    content: "";
    bottom: 1px;
    left: -220px;
    padding-top: 25px;
    padding-left: 25px;
    background-color: white;
}
.avone-link_btn{
    position: relative;
    color: #22262A;
}

.avone-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    bottom: 40px;
    right: 225px;
    width: 170px;
    border-bottom: 1px solid #22262A;
    padding-bottom: 5px;
}

/********Hero-bottom******/

#hero-bottom{
    background: url("../images/hero-bottom/16.png") no-repeat center/cover;
    min-height: 745px;
    position: relative;
}

#hero-bottom .hero_content{
    display: flex;
    flex-direction: column;
    position: absolute;
    content: "";
    left: 230px;
    bottom: 125px;
}

/********Feedback******/

#feedback{
   background-color: #F2F8FC;
    padding-top: 115px;
    padding-bottom: 110px;
}

.col-6{
    width: 50%;
}

.feedback_desc{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #22262A;
    height: 70px;
    width: 406px;
    margin: 17px 0 40px 0;
}

.feedback-location{
    margin-left: 25px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.e-mail{
    width: 240px;
    margin: 16px 0 5px 0;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    border-bottom: 1px solid #000;
}

.index{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.feedback-social{
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.e-mail_updates{
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
}

#email{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0 10px 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

#email::placeholder{
    color: #22262A;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

[for='email']{
    position: relative;
}

.feedback-send_request{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.feedback-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.feedback-nav_item{
    list-style: none;
}

.feedback-nav_title{
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
}

.feedback-nav_link{
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    margin-bottom: 20px;
}

.join{
    width: 532px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.email_btn,
.join_btn{
    background-color: #ffffff;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    padding: 0 20px;
}

::placeholder{
    color: #22262A;
}


/********Footer******/

.footer{
    background-color: #E7F5F8;
    padding: 35px 0;
}

.footer-desc{
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;

}



